@font-face {
  font-family: "Proxima nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima nova";
  src: url("https://http2.mlstatic.com/ui/webfonts/v3.0.0/proxima-nova/proximanova-semibold.woff2");
  font-weight: 600;
}
